<div id="recent-phrases" class="text-center">
  <h2>Recent Phrases</h2>
  <% @communities.each do |community| %>
    <div>
      <%= community.name %>
      Users: <%= community.users.count %>
      Posts: <%= community.posts.count %>
      <%= link_to("Join", join_community_path(community), method: :post) %>
      <%#= current_user.username %>

    </div>
  <% end %>
</div>
