<div class="row col-md-9">
	<div class="col-md-3">&nbsp;</div>

	<div class="col-md-6">

		<h2><%= catch_phrase %></h2>
	</div>
</div>

<div class="row">
	<%= render 'posts/form' %>
</div>
<hr />

<% @posts.each do |post| %>
	<%= render partial: 'partials/post', locals: {post: post} %>
<% end %>