<!-- <p id="notice"><%#= notice %></p> -->

<h1><%= @community.name %></h1>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_user_community_path %> |
  <%= link_to 'Back', user_communities_path %>
<% end %>
